body{
    background: #708690;
    /* background: yellow; */
}


/* CLASSES */

.jumbotron{
    background: #1c313a;
    color: white;
    border-radius: 0px;
}

.container{
    background: #455a64;
}


/* IDs */

#kioskHeading{
    color: white;
    text-align: center;
}

#micArea{
    /* border: 2px solid red; */
    align-items: center;
    text-align: center;
}

#micIcon{
    padding: 3%;
    position: absolute;
    /* background: blue; */
    left: 35%;
    height: 100%;
    width: 30%;
    /* border: 2px solid green; */
}

#micIconID{
    border-radius: 55%;
    /* border: 2px solid white; */
    width: 88%;
    height: 45%;
}

#pauseButton{
    position: absolute;
    bottom: 50px;
    left: 45%;
    height: 5%;
    width: 10%;
}

#pauseIconID{
    /* border: 2px solid white; */
    width: 100%;
}

#textAreaID{
    position: relative;
    top: 1px;
    width: 20%;
}

textarea{
    background: red;
    position: absolute;
    width: 50%;
    top: 20%;
    /* border: 2px solid black; */
}
