<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Voice Controlled Notes App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/homeCSS.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <div class="jumbotron">
                <h1 id="kioskHeading">Kiosk</h1>
            </div>
        </div>

        <div id="container">
            <div id="micIcon">
                <!-- <img id="micIconID" src="mic.jpg" alt="FU"> -->
                <input type="image" src="{% static "images/newMic.png" %}" name="data" value="" id="micIconID">
            </div>
            <form method="POST">
                {{speechForm.as_p}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary submitBTN" value="Submit">
            </form>
            <div class="operateButtons">
                    <button class="btn btn-primary" id="pauseBTN" name="button">Pause</button>

                    <button class="btn btn-primary" id="clearBTN" name="button">Clear</button>
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static "js/indexJS.js" %}"></script>

    </body>
</html>
